/* ==== BUTTONS ==== */

//.check-coverage homepage
.check-coverage{
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 15px;
  font-size: 1.8rem;
  text-decoration: none;
  margin-top: 2rem;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
//.btn-orange homepage
.btn-orange{
  background: #ef6f00;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  color: #fff;
  margin-top: 1rem;
  padding: 10px;
  &:hover,&:focus{
    color: #fff;
    text-decoration: none;
  }
}
//.video-btn homepage
.video-btn{
  padding: 12px;
  background: #ef6f00;
  border-radius: 5px;
  color: #fff;
  font-size: 110%;
  margin-top: 15px;
  transition: ease all 0.3s;
  &:before{
    content: "\f144";
    font-family: FontAwesome;
    margin-right: 0.75rem;
  }
  &:hover,&:focus{
    box-shadow: none;
    text-decoration: none;
    color: #fff;
  }
}
