/* ==== BUTTONS ==== */

.consultation-white, .consultation-dark-blue, .consultation-grey {
  border-radius: 5px;
  display: inline-block;
  padding: 9px;
  font-size: 1.8rem;
  text-decoration: none;
  margin-top: 2rem;
  &:hover{
    text-decoration: none;
  }
}

.consultation-white {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  transition: ease all 0.3s;
  &:hover, &:focus {
    background: #fff;
    border: 1px solid $brand-secondary;
    box-shadow: 0px 3px 5px #000;
    color: $brand-secondary;
  }
}

.consultation-dark-blue {
  border: 1px solid $brand-primary;
  color: $brand-primary;
}

.consultation-grey {
  border: 1px solid #353535;
  color: #353535;
}


.btn-orange, .btn-dark-blue, .btn-light-blue {
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  color: #fff;
  margin-top: 1rem;
  padding: 10px;
  transition: ease all 0.3s;
  &:hover,&:focus{
    text-decoration: none;
  }
}

.btn-orange {
  background: $brand-complimentary;
}

.btn-dark-blue {
  background: $brand-primary;
}

.btn-light-blue {
  background: $brand-secondary;
}

//.video-btn homepage
.video-btn{
  padding: 12px;
  background: #ef6f00;
  border-radius: 5px;
  color: #fff;
  font-size: 110%;
  margin-top: 15px;
  transition: ease all 0.3s;
  &:before{
    content: "\f144";
    font-family: FontAwesome;
    margin-right: 0.75rem;
  }
  &:hover,&:focus{
    box-shadow: none;
    text-decoration: none;
    color: #fff;
  }
}


//specific instance for the static contact-us-cta section atop footer-nav-title
.contact-us-cta {
  .consultation-white {
    padding: 15px;
    &:hover, &:focus {
      border: 1px solid $brand-complimentary;
      color: $brand-complimentary;
    }
  }
}
