/*.search-form { @extend .form-inline; } .search-form label { font-weight: normal; @extend .form-group; } .search-form .search-field { @extend .form-control; } .search-form .search-submit { @extend .btn; @extend .btn-secondary; }*/
.wpcf7 { font-family: 'Montserrat', sans-serif; }

.wpcf7 h2 { color: #2777B1; }

.wpcf7 .wpcf7-form { padding: 20px 45px 45px 45px; background: #f6f6f6; box-shadow: 0px 3px 6px #6b6b6b; }

.wpcf7 .wpcf7-form .row.sub { margin-top: 1em; }

.wpcf7 .wpcf7-form .wpcf7-submit { font-family: 'Montserrat', sans-serif; background: transparent; color: #2777B1; font-size: 1.5em; border: none; }

.wpcf7 .wpcf7-form .wpcf7-submit:focus { outline: none; }

.wpcf7 .wpcf7-form .wpcf7-response-output { border: none; }

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control { padding: 15px 15px 0px 0px; margin-bottom: 2em; border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #9e9e9e; font-size: 1.15em; color: #444444; background: #f6f6f6; width: 100%; font-weight: 300; font-family: inherit; }

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control:focus { outline: none; border-bottom: 2px solid #2777B1; }

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-form-control::placeholder { color: #b5b5b5; }

.box { position: relative; vertical-align: middle; color: #fff; display: inline-block; padding: 10px 15px; text-align: center; transition: 0.5s; border: 2px solid #fff; -webkit-transition: 0.5s; border-radius: 5px; }

.box:hover { border: 2px solid rgba(0, 160, 80, 0); color: #FFF; }

.box::before, .box::after { width: 100%; height: 100%; z-index: 3; content: ''; position: absolute; top: 0; left: 0; box-sizing: border-box; -webkit-transform: scale(0); transition: 0.5s; }

.foo::before { border-bottom: 3px solid #FFF; border-left: 3px solid #FFF; -webkit-transform-origin: 0 100%; }

.foo::after { border-top: 3px solid #FFF; border-right: 3px solid #FFF; -webkit-transform-origin: 100% 0%; }

.bar::before { border-bottom: 3px solid #FFF; border-left: 3px solid #FFF; -webkit-transform-origin: 100% 0%; }

.bar::after { border-top: 3px solid #FFF; border-right: 3px solid #FFF; -webkit-transform-origin: 0% 100%; }

.curmudgeon::before { border-bottom: 3px solid #FFF; border-left: 0; -webkit-transform-origin: 0% 100%; }

.curmudgeon::after { border-top: 0; border-right: 0; -webkit-transform-origin: 50% 50%; }

.box:hover::after, .box:hover::before { -webkit-transform: scale(1); }

.link { line-height: 1em; position: absolute; bottom: 0; right: 20px; width: 300px; height: 50px; font-family: "Open Sans","Roboto",Arial,sans-serif; text-align: right; }

.link > a { text-decoration: none; color: #FF0; }
