
.modal-header {
  border-bottom: none;
}

.modal-content {
  border-radius: 5px;
}

.modal-open {
  overflow: scroll !important;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 700px;
  }
}
