.column-body{
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0;
  color: #6b6b6b;
}
.column-headline{
  margin-top: .5em;
}
.column-icon{
  color: #002042;
}
.column-content{
  margin-bottom: 4em;
}
