//STYLE FOR HALF AND HALF IN THE BUILDER

.half-left,.half-right{
  min-height: 350px;
}
.half-content{
  padding: 5rem;
}
.half-content.has-text > *{
  margin-top: 15px;
}


/*====================== HALF AND HALF HERO SECTION(NON-BUILDER) ===============*/

.image-right-hero{
  position: relative;
  height: 500px;
  width: 50%;
}

.hero-overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

.content-left-hero{
  position: absolute;
  height: 500px;
  width: 50%;
  top: 0;
  text-align: center;
  z-index: 1;
  .content-left{
    margin-top: 18rem;
    padding: 0 5rem;
    h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width:768px){
  .image-right-hero{
    width: 100%;
    float: clear;
    position: static;
    &:after{
      content: '';
      position: absolute;
      background: rgba(0,0,0,.6);
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
    }
  }
  .content-left-hero{
    background: transparent !important;
    z-index: 1;
    width: 97%;
    left: 0 !important;
    h1,h2,h3,h4,h5,p{
      color: #fff !important;
    }
  }
}
@media screen and (max-width:1300px) and (min-width:1025px){
  .content-left-hero{
    width: 62% !important;
  }
}

@media screen and (max-width:576px){
    .image-right-hero, .image-right-hero::after,.content-left-hero,#hero{
      height: 500px !important;
    }
    .content-left {
      margin-top: 12rem !important;
    }
    .content-left-hero .content-left {
      h1 {
        font-size: 3rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }

    .half-content {
      padding: 0 !important;
    }
}

@media screen and (max-width:1024px){
  .content-left-hero .content-left {
    margin-top: 16rem;
    padding: 0 .5rem !important;
    h1 {
      font-size: 3.25rem !important;
    }
    h3 {
      font-size: 2.25rem !important;
    }
  }
}

@media screen and (max-width:1440px){
  .content-left-hero .content-left {
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
}
