/*//HERO SECTION STYLES CTA ACF FIELD*/

#hero {
    position: fixed;
    height: 500px;
    width: 100%;
    z-index: 0;
}

#hero h1.white {
  font-size: 4.8rem;
}

#cta-content {
  h1,h2,h3,h4,h5,h6,p{
    color: white;
    text-shadow: 1px 1px 1px #000;
    text-align: left;
  }
}

.head {
  margin-top: 13rem;
}

.sub-head {
  margin-top: 15px;
  font-weight: 300;
  line-height: 3rem;
}

.head-sidebar {
  margin-top: 15rem;
}

.hero-overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  #hero h1.white {
    font-size:4rem;
  }
}

@media screen and (max-width: 768px) {

  #hero h1.white {
    font-size: 3rem;
  }

}

@media screen and (max-width:576px) {

  .page-template-page-with-sidebar, .page-template-leadership {
    #hero{
      height: 400px !important;
    }
  }

  .head, .head-sidebar {
    margin-top: 12rem;
  } 

  .hero-overlay-gradient {
    height: 400px !important;
  } 
}