//HERO SECTION STYLES CTA ACF FIELD

#hero {
  height: 500px;
}

#cta-content {
  h1,h2,h3,h4,h5,h6,p{
    color: white;
    text-shadow: 1px 1px 1px #000;
    text-align: left;
  }
}

.head {
  margin-top: 11rem;
}

.sub-head {
  margin-top: 15px;
  font-weight: 300;
  line-height: 3rem;
}

@media screen and (max-width:576px) {
  .head {
    margin-top: 12rem;
  }
}


/*.page-template-page-with-sidebar, .page-template-page-with-sidebar-mental-health, .page-template-page-with-sidebar-addiction, .page-template-page-with-sidebar-admissions, .page-template-leadership {
  #hero{
    height: 500px !important;
  }
}*/

.page-template-page-with-sidebar, .page-template-page-with-sidebar-mental-health, .page-template-page-with-sidebar-addiction, .page-template-page-with-sidebar-admissions {
  #hero{
    .wrap.container-fluid{
      padding: 0 !important;
    }
    .head{
      padding-top: 0;
    }
  }
}

// .page-template-page-with-sidebar-mental-health, .page-template-page-with-sidebar-addiction, .page-template-page-with-sidebar-admissions {
//   .wrap.container-fluid{
//     .content.row{
//       margin-top: 15rem;
//     }
//   }
// }


@media screen and (max-width:576px) {
  .page-template-page-with-sidebar, .page-template-leadership {
    #hero{
      height: 400px !important;
    }
  }
}