#text-box{
  padding: 2rem 0;
}

.insurance-cta h2.white{
  font-size: 3rem;
}

#text-box{
  .fa{
    color: #002042;
  }
}

@media screen and (max-width:767px) {
  .insurance-cta h2.white {
    font-size: 2rem !important;
  }
}
