#text-box{
  padding: 20px 0;
}

h2.white{
  font-size: 2.5em;
}

#text-box{
  .fa{
    color: #002042;
  }
}

// @media screen and (max-width:768px) {
//   h2.white {
//     font-size: 2rem;
//   }
// }
