.light-200{
  font-weight: 200;
}
.light-300{
  font-weight: 300;
}
.light-400{
  font-weight: 400;
}
.light-500{
  font-weight: 500;
}
.pad-150{
  padding: 5rem;
}
.pad-20{
  padding: 20px 0px;
}
.pad-40{
  padding: 40px 0px;
}
.white{
  color:#fff;
  text-shadow: 1px 1px 1px #000;
}


@media screen and (max-width:576px) {
  .pad-150 {
    padding: 0 !important;
  }
}
