body { font-family: 'Montserrat'; font-size: 1em; line-height: 1.2em; }

@media screen and (max-width: 1024px) { body { font-size: .8em; } }

h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat'; line-height: 1.2em; color: #002042; margin-bottom: .5rem; font-weight: 500; }

p { font-size: 1.1em; line-height: 1.85em; color: #6b6b6b; }

.white { color: white; }

#text-box .fa { color: #002042; }

#hero { height: 600px; }

.check-coverage { border: 1px solid white; border-radius: 5px; color: white; padding: 15px; font-size: 1.2em; text-decoration: none; margin: 20px 0px; }

.check-coverage:hover { color: white; text-decoration: none; }

#cta-content h1, #cta-content h2, #cta-content h3, #cta-content h4, #cta-content h5, #cta-content h6, #cta-content p { color: white; text-shadow: 1px 1px 1px #000; text-align: left; }

#cta-content .head { margin-top: 150px !important; }

#cta-content .sub-head { margin-top: 15px; }

.video-btn { padding: 12px; background: #ef6f00; border-radius: 5px; color: white; font-size: 110%; margin-top: 15px; transition: ease all 0.3s; }

.video-btn:before { content: "\f144"; font-family: FontAwesome; margin-right: 0.75rem; }

.video-btn:hover, .video-btn:focus { box-shadow: none; text-decoration: none; color: white; }

.sidebar-tile { background: #e3e3e3; height: 160px; border: 2px solid #999; margin-top: 10px; }

#text-box { padding: 40px 0px 40px 0px; }

.image-white h2, .image-white p { color: white !important; }

.pad-150 { padding: 150px 100px; }

.col-md-12 .video-btn { padding: 12px; border: 1px solid #2777B1; border-radius: 5px; color: #2777B1; font-size: 110%; margin-top: 20px; text-decoration: none; }

.pad-20 { padding: 20px 0px; }

.pad-40 { padding: 40px 0px; }

.half-left, .half-right { min-height: 350px; }

.half-content { padding: 50px; }

.half-content.has-text > * { margin-top: 30px; }

.column-body { font-size: 1em; margin-bottom: 1em; padding: 0; color: #6b6b6b; }

.column-headline { margin-top: .5em; font-weight: bold; }

.column-icon { color: #2777B1; }

blockquote { padding: 1rem; /*&:before{ content: open-quote; font-size: 3em; position: relative; top: 3rem; left: -27rem; } &:after{ content: close-quote; font-size: 3em; position: relative; top: -5.5rem; left: 19rem; }*/ }

blockquote small { font-size: 125%; color: #999999; }

blockquote h3 { font-size: 2.25em; line-height: 1.25em; }

h2.white { font-size: 2.5em; }
