.about-northbound {
  #hero {
    height: 500px !important;
  }

  .container-fluid.wrap {
    padding: 4rem 0 0 0;
  }

  .pad-150 {
    &:before {
      background: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
      left: 0;
      height: 400px;
      width: 100%;
    }
  }
}

.value-item {
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  padding: 1rem .5rem;
}

@media screen and (max-width:576px) {
  .about-northbound .container-fluid.wrap {
    padding: 2rem 0 0 0 !important;
  }
}
