
.home #cta-content .container {
  z-index: 1;
}

.home #page {
  padding: 4rem 0 0 0;
}

.home #hero {
  height: 500px;
}

.home .section-float {
  top: 450px;
}

.home .insurance-cta {
  top: 475px;
}

.home .content-info {
  top: 530px;
}

.home .founder-quote {
  padding: 5rem 0 0 0;
}

@media screen and (max-width: 768px) {

  .home #page {
    padding: 1.5rem 0 0 0;
  }

}

@media screen and (max-width:576px) {

  .home .head {
    margin-top: 10rem !important;
  }

  .home .hero-overlay-gradient {
    height: 500px !important;
  }

}
