.blog {
  overflow-x: hidden;
}

.blog-roll {
  padding-top: 8.02rem;
}

p.byline.author.vcard {
  display: none !important;
}

.blog-item {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 0 2rem;
  width: 100%;
  z-index: 1;
}

.blog-summary {
  padding: 0 5.5rem;
}

.blog-title a, .blog-summary p, .author a, .author, time {
  color: #fff;
  text-shadow: 1px 5px 4px #000;
  text-align: center;
  text-decoration: none;
}

.blog-summary p, .author a, .author, time {
  opacity: 0;
  margin: 0;
  transition: ease all 0.7s;
}

time,.author a,.author{
  font-style: italic;
}

.readmore { 
  color: $brand-complimentary;
  &:hover {
    color:$brand-complimentary;
    font-weight: bold;
  }
}

.blog-title {
  font-weight: 300;
  transition: ease all 0.7s;
}

.blog .content-info {
  position: initial;
}

.blog {
  .col-lg-4,.col-md-6,.col-sm-6,.col-xs-12 {
    border:2px solid #ebebeb;
    padding: 0 !important;
    min-height: 300px;
    transition: ease all 0.2s;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.65);
    }
    &:hover {
/*      transform: scale(1.1);
      z-index: 1;*/
      &:after {
        background: rgba(0,0,0,.4);
      }
      .blog-summary p,.author a,.author,time {
        opacity: 1;
      }
    }
  }
}

.posts-navigation {
  background: #333;
  height: 50px;
  width: 100%;
  position: relative;
}

.nav-previous a,.nav-next a{
  color: $brand-complimentary;
  text-decoration: none;
  padding: 1em;
}

.nav-previous,.nav-next{
  display: inline-flex;
}

.nav-next{
  float: right;
}

@media screen and (max-width:1441px){

  h3 {
    font-size: 1.9rem;
  }

}

@media screen and (max-width:996px){

  .blog-summary p,.author a,.author,time{
    opacity: 1 !important;
  }

  .blog-summary p {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:850px) {

  .blog-summary {
    display: none !important;
  }

}

@media screen and (max-width:768px){

  .blog-summary p {
    opacity: 0 !important;
  }

}

@media screen and (max-width: 576px) {

  .blog-item {
    top: 12.5% !important;
  }

  .blog-summary {
    display: block !important;
    padding: 0 .5rem !important;
  }

  .blog-summary p {
    opacity: 1 !important;
  }

}



/*====================== SINGLE POSTS ======================*/
.single-post, .blog {
    #hero {
      display: none;
    }
}

.single {
  a:hover {
    text-decoration: none !important;
  }
  .tile-wrap {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

.single-post-wrap{
  article{
    padding: 0 2em;
  }
  .blog-meta{
    time,p.author a{
      font-style: italic;
    }
  }
  a{
    color: $brand-complimentary;
    &:hover{
      text-decoration: underline;
    }
  }
}
.blog-single-image{
  background-size: cover;
  width: 100%;
  height: auto;
}
.single-post-title{
  margin-top: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width:1024px) {
  .single-post-title {
    font-size: 2.5rem;
    margin-top: .5rem
  }
}

@media screen and (max-width:996px){
  .single-post-blog,.single-post-wrap article{
    padding: 0;
  }
}

@media screen and (max-width:576px) {
  .single-post-title {
    font-size: 2.2rem;
  }
}
