.blog{
  .blog-roll{
    padding-top: 6.75em;
    margin: 0 !important;
    .col-lg-4,.col-md-6,.col-sm-6,.col-xs-12{
      padding: 0 !important;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.55);
      }
      .col-lg-4:nth-of-type(10){
        display: none !important;
      }
      &:hover{
        .blog-title{
          margin-top: 2em;
        }
        p a,p,time{
          opacity: 1;
        }
      }
    }
    .blog-image{
      max-height: 423px;
    }
    .blog-item{
      position: absolute;
      top: 0;
      left: 0;
      padding: 1em 2em;
      z-index: 10;
    }
    .blog-title a,p,p a,time{
      color: #fff;
      text-shadow: 1px 5px 4px #000;
      text-align: center;
      text-decoration: none;
    }
    p,p a,time{
      opacity: 0;
      margin: 0;
      transition: ease all 0.7s;
    }
    time,.author{
      font-style: italic;
    }
    .readmore{
      color: $brand-complimentary;
    }
    .blog-title{
      margin-top: 3em;
      font-weight: 300;
      transition: ease all 0.7s;
    }
  }
  .posts-navigation{
    height: 50px;
    background: #333;
    .nav-previous a,.nav-next a{
      color: $brand-complimentary;
      text-decoration: none;
      padding: 1em;
    }
    .nav-previous,.nav-next{
      display: inline-flex;
    }
    .nav-next{
      float: right;
    }
  }
}
@media screen and (max-width:996px){
  .blog-title{
    margin-top: 1em !important;
  }
  p,p a,time{
    opacity: 1 !important;
  }
}
@media screen and (max-width:768px){
  p,p a{
    opacity: 0 !important;
  }
  .blog-title{
    margin-top: 2em !important;
  }
}
@media screen and (max-width:1441px){
  h3{
    font-size: 1.5em;
  }
}


/*====================== SINGLE POSTS ======================*/

.single-post-title{
  margin-top: 3em;
}
