.sidebar-main{
  .tiles{
    .tile-overlay{
      position: absolute;
      width: 100%;
      height: 315px;
      background: rgba(1, 33, 68, 0.45);
      border-radius: 5px;
      top: 0;
      transition: transform 0.5s;
      &:hover{
        background: rgba(1,33,68,.65);
      }
    }
    .sidebar-tile{
      position: relative;
      background: #e3e3e3;
      height: 315px;
      border: 1px solid #999;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0px 3px 5px #000;
      margin-top: 2em;
      h3{
        position: relative;
        margin-top: 4em;
        color: #fff !important;
        z-index: 1;
        text-shadow: 0px 2px 3px #000;
        &:hover + .tile-overlay{
          background: rgba(1,33,68,.65);
        }
      }
    }
    a{
      &:hover{
        text-decoration: none !important;
      }
      &:after{
        position: absolute;
        width: 88.5%;
        height: 160px;
        background: rgba(1, 33, 68, 0.55);
        border-radius: 5px;
        top: 0.65em;
      }
    }
  }
}



/*====================== SIDEBAR HERO SECTION ===============*/

.image-right-hero{
  position: relative;
  height: 500px;
  width: 50%;
}
.content-left-hero{
  position: absolute;
  height: 500px;
  width: 50%;
  top: 0;
  .row{
      padding-left: 4em;
      margin-top: 11em;

  }
}
@media screen and (max-width:768px){
  .image-right-hero{
    width: 100%;
    float: clear;
    position: static;
    &:after{
      content: '';
      position: absolute;
      background: rgba(0,0,0,.6);
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
    }
  }
  .content-left-hero{
    background: transparent !important;
    z-index: 1;
    width: 75%;
    left: 0 !important;
    h1,h2,h3,h4,h5,p{
      color: #fff !important;
      text-shadow: 0px 3px 5px #333;
    }
    .row{
      padding: 0em 2em;
    }
  }
}
@media screen and (max-width:1300px) and (min-width:1025px){
  .content-left-hero{
    width: 62% !important;
    .row{
      margin-top: 8em !important;
    }
  }
}
@media screen and (max-width:1000px) and (min-width:769px){
  .content-left-hero{
    .row{
      padding-right: 1em;
    }
  }
}
@media screen and (max-width:576px){
  .page-template-page-with-sidebar{
    .image-right-hero, .image-right-hero::after,.content-left-hero,#hero{
      height: 300px !important;
    }
  }
}
